<div *ngIf="petani">
  <div>
      <label>Nama Lengkap: </label> {{petani.namaLengkap}}
  </div>
  <div>
      <label>Telpon: </label> {{petani.telpon}}
  </div>
  
  <span class="button is-small btn-danger" (click)='deletePetani()'>Delete</span>

  <hr/>
</div>