<h3>Create Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" class="form-control" id="namaLengkap" required [(ngModel)]="petani.namaLengkap" name="namaLengkap">
        </div>

        <div class="form-group">
            <label for="telpon">No Telpon</label>
            <input type="text" class="form-control" id="noTelp" required [(ngModel)]="petani.noTelp" name="noTelp">
        </div>

        

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
</div>