<div class="panel panel-default">
  <div class="panel-heading">
      <h1>Daftar Petani</h1>
  </div>
  <div class="panel-body">
      <table class="table table-striped table-bordered">
          <thead>
              <tr>
                  <th>Nama Lengkap</th>
                  <th>No Telpon</th>                
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let petani of petanis | async">
                  <td>{{petani.namaLengkap}}</td>
                  <td>{{petani.noTelp}}</td>                
                  <td><button class="btn btn-danger" (click)="deletePetani(petani.id)">Delete</button></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>